In [1]:
import datetime

In [2]:
my_time = datetime.time(2,20)

In [3]:
my_time.minute

20

In [4]:
my_time.hour

2

In [5]:
print(my_time)

02:20:00

In [6]:
my_time = datetime.time(2)

In [7]:
print(my_time)

02:00:00

In [8]:
my_time.microsecond

0

In [9]:
type(my_time)

datetime.time

In [10]:
today = datetime.date.today()

In [11]:
print(today)

2021-02-25

In [12]:
today.year

2021

In [13]:
today.day

25

In [14]:
today.ctime()

'Thu Feb 25 00:00:00 2021'

In [15]:
today.year

2021

In [16]:
from datetime import datetime

In [18]:
mydatetime = datetime(2021,10,3,12,20,1)

In [19]:
print(mydatetime)

2021-10-03 12:20:01

In [22]:
mydatetime = mydatetime.replace(year=2020)

In [23]:
print(mydatetime)

2020-10-03 12:20:01

In [25]:
from datetime import date

date1 = date(2021,11,3)
date2 = date(2020,11,3)

In [27]:
result = date1 - date2

In [28]:
type(result)

datetime.timedelta

In [29]:
print(result)

365 days, 0:00:00

In [30]:
datetime1 = datetime(2021,11,3,22,0)

In [31]:
datetime2 = datetime(2020,11,3,10,3)

In [32]:
datetime1 - datetime2

datetime.timedelta(days=365, seconds=43020)

In [33]:
43020/60/60

11.95

In [34]:
mydiff = datetime1 - datetime2

In [37]:
mydiff.seconds

43020

 rw

In [38]:
mydiff.total_seconds()

31579020.0